/* ===== ДОБАВЛЕНИЯ (НЕ ТРОГАЮ ТВОИ КНОПКИ) ===== */

/* убираем текстовый курсор */
*{cursor:default;}
a,button,.card,.theme-toggle,.burger{cursor:pointer;}

/* снег */
#snow{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
pointer-events:none;
z-index:-1;
}

/* 3 линии */
.burger{
position:fixed;
top:18px;
left:18px;
width:34px;
z-index:100;
}

.burger span{
display:block;
height:4px;
background:#a066ff;
margin:6px 0;
border-radius:2px;
}
